html { 
    background: url(assets/herbst.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 37%;
    background-color: #7de1ffff;
    left: 50%;
    touch-action: none;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }

  #face-import {
    position: absolute;
    border-radius: 80%;
    left: 45.5%;
    top: 23%;
    width: 8%;
    height: 19%;
  }

  .sticky {
    display: flex;
    position: absolute;
    overflow: auto;
    width: 30.75%;
    left: 34.98%;
    top: 45.7%;
    height: 46.5%;
    /* border: 1px solid black; */
  }

  .sticky-gear {
    height: 12.4%; 
    width: 14%;
    padding-left: 65px;
    padding-right: 65px;
  }

  .sticky-gear1{
    height: 12.4%; 
    width: 14%;
    padding-left: 53.9%;
    padding-right: 65px;
  }

  .sticky-gear2 {
    height: 12.4%; 
    width: 14%;
    padding-right: 315px;
    padding-left: 65px;
  }

  a {
    text-decoration: none;
    color: #00008b;
  }

  #filetag {
    position: absolute;
    left: 43.399%;
    bottom: 100%;
  }

  #applyNow {
    position: relative;
  }
   @media screen and (max-width: 1700px) {
    html { 
        background: url(assets/herbst.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 90%;
        background-color: #7de1ffff;
      }

      .sticky {
        display: flex;
        position: absolute;
        overflow: auto;
        width: 80%;
        left: 10.3%;
        top: 47.4%;
        height: 29%;
      }

      #face-import {
        position: absolute;
        border-radius: 80%;
        left: 41%;
        top: 33%;
        width: 16%;
        height: 11%;
      }
      #filetag {
        position: absolute;
        left: 37%;
        bottom: 100%;
      }

    /* footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
      }

      #face-import {
        position: absolute;
        border-radius: 80%;
        left: 84%;
        top: 70%;
        height: 100px;
        width: 75px;
    }

    .sticky {
        display: flex;
        position: absolute;
        overflow: auto;
        width: 600px;
        left: 35%;
        top: 611px;
        height: 550px;
      }
    
      .sticky-gear {
        height: 54.9px; 
        width: 82px;
        padding-left: 65px;
        padding-right: 65px;
      }
    
      .sticky-gear1{
        height: 54.9px; 
        width: 82px;
        padding-left: 318px;
        padding-right: 65px;
      }
    
      .sticky-gear2 {
        height: 54.9px; 
        width: 82px;
        padding-right: 315px;
        padding-left: 65px;
      }
    
      a {
        text-decoration: none;
        color: #00008b;
      } */
  }